.arranjosContainer
{
   display: flex;
   flex-direction: column;
   margin-right: 23vw;
   margin-top: 30vh;
   align-items: end;
   justify-content:center;
   padding-right: 6vw;
}
.arranjosTitle
{
   font-family:Helvetica;
   font-weight: bold;
   color:var(--laranja-Forte);
   align-self: start;
   margin-left: 7vw;
}