:root
{   --cor-fundo:#B0AFAF;
    --laranja-Forte:#FC4A1A;
    --branco:#ffff;
    --laranja-Fraco:#f4781f;
    --amarelo:#F7B733;
    --azul-verde:#4ABDAC;
}
@font-face {
    src: url(../fontes/Antonio-VariableFont_wght.ttf);
    font-family: 'Antonio-Regular';    
    font-weight: normal;
} 
@font-face {
    src: url(../fontes/Inter-VariableFont_slnt\,wght.ttf);
    font-family: 'Inter-regular';
    font-weight: normal;
}

.btnCabecalhoComprar {
    
        width: 7%;
        height: 6.5%;
        position: absolute;
        top: 13.7%;
        left: 25%;
    
   
}
.btnCabecalhoComprar button
{
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: inherit;
    font-family:'Antonio-Regular';;
}
.btnCabecalhoComprar button:hover
{
   
    
    background-color: var(--laranja-Fraco);
}
