:root
{   --cor-fundo:#B0AFAF;
    --laranja-Forte:#FC4A1A;
    --branco:#ffff;
    --laranja-Fraco:#f4781f;
    --amarelo:#F7B733;
    --azul-verde:#4ABDAC;
}
@font-face {
    src: url(../fontes/Antonio-VariableFont_wght.ttf);
    font-family: 'Antonio-Regular';    
    font-weight: normal;
} 
@font-face {
    src: url(../fontes/Inter-VariableFont_slnt\,wght.ttf);
    font-family: 'Inter-regular';
    font-weight: normal;
}

body{
    margin: 0;
    background-color: #EDEDED;
    width: 100%;
    height: 100%;
    
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    z-index: 1000;
}

.logar{
    background-color: var(--laranja-Forte);
    height: 5vh;
    width: 100%;
    position: inherit;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.logar button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    background-color: var(--laranja-Forte);
    font-family: 'Inter-regular';
    margin-right: 1%;
    
    
}

.logar button:hover{
    background-color: var(--amarelo);
    height: 100%;
}
.logar img
{
    margin-right: 1.5%;
    width: 1.5%;
    height: 60%;
    cursor: pointer;
}

.menuPrincipal
{   position: fixed;
    background-color: #ffff;
    width: 100%;
    height: 10vh;
    left: 0;
    top: 5vh;
}
.container1
{   position: inherit;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.logo img{
    width: 100%;
    height: 100%;
    max-height: 55px;
    max-width:171px;
    padding: 1rem;
    position: inherit;

}
.icones
{
    margin-left: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: inherit;
}
.icones img
{
    width: 15px;
    height: 15px;
    margin-right: 2rem;
    
}
#tracos
{
    padding-top: 3px;
}
.icones img:hover{
    cursor: pointer;

}
.container2
{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100%;
    position: inherit;
    top: 10vh;
    left: 25rem;
    align-items: center;
    
    
}


.container2 button
{
    border: none;
    cursor: pointer;
    outline: none;
    
    font-family: 'Antonio-Regular';
    font-size: 15px;
    margin: 3rem;
}
.currentPageButton 
{
    background-color: var(--amarelo);
    height: 100%;
}
.otherPagesButton 
{
    background-color: var(--branco);
    height: 100%;
}


.container2 button:hover 
{
    background-color: var(--laranja-Fraco);
    transition: 0.3s;
    height: 100%;
}

    .container
    {   
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    max-width: 1920px; 
    margin: 0 auto; 
    padding: 0 20px; 
     }

     .carrossel
     {  margin-top: 5%;
        width: 100%;
        max-width: 1280px;

     }

      .carrossel img
     {
       
        width: 100%;
        height: 100%;
        max-height: 60vh;
     }
    .tipos
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 1280px;
        height: 20vh;
    }
    .tipos img
    {   
        max-width: 100px;
        max-height: 200px;
        border-radius: 50%;
              
    }
