:root
{   --cor-fundo:#D9D9D9;
    --laranja-Forte:#FC4A1A;
    --branco:#ffff;
    --laranja-Fraco:#f4781f;
    --amarelo:#F7B733;
    --azul-verde:#4ABDAC;
    --verde-escuro: #003C1F;
    --laranja-fosco: #FA623A;
}
@font-face {
    src: url(../fontes/Antonio-VariableFont_wght.ttf);
    font-family: 'Antonio-Regular';    
    font-weight: normal;
} 
@font-face {
    src: url(../fontes/Inter-VariableFont_slnt\,wght.ttf);
    font-family: 'Inter-regular';
    font-weight: normal;
}

body{
    margin: 0;
    background-color: #EDEDED;
    width: 100%;
    height: 100%;
    
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    z-index: 1000;
    
}

.navCTA{
    background-color: var(--laranja-Forte);
    height: 5vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navCTA h3

{
    color: #fff;
    font-family: 'Inter-regular';
    font-weight: lighter;
    font-size: 1rem;
}

.menuPesquisa
{   position: fixed;
    background-color: #ffff;
    width: 100%;
    height: 15vh;
    left: 0;
    top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 0.5%;
    gap: 5%;
}


.logo img{
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width:100px;
    position: inherit;

}
.buscar
{
    width: 50%;
    display:flex;
    
}
.buscar input
{
    width: 100%;
    height: 4vh;
    font-family: 'Inter-regular';
    border: none;
    background-color: var(--cor-fundo);
    font-size: 1rem;
    color: var(--verde-escuro);

}

.buscar img
{
    max-width: 21px;
    max-height:23px;
    margin-left: -25px;
    margin-top:6px;
}
.entrarCasatrar
{
    font-size: 1rem;
    font-family: "Inter-regular";
    color: var(--verde-escuro);
    width: 47.5%;
}

.entrarCasatrar a
{   
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.entrarCasatrar a:hover
{
    cursor: pointer;
    text-decoration: underline;
}
.loginSacola
{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2%;
}
.loginSacola img
{
    width:100%;
    height:100%;
    max-width: 32px;
    max-height: 35px;
}

.menuPrincipal 
{   
    position: fixed;
  
    height:6vh;
    width: 100%;
    top: 20vh;
    background-color:var(--cor-fundo);
}
.menuBotoes
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    margin-left: 25vw;
    
}
.menuBotoes button
{
    border: none;
    font-size: 1.2rem;
    font-family: 'Antonio-regular';
    color: var(--verde-escuro);
}
.menuBotoes button:hover
{
    background-color:var(--laranja-Fraco);
    transition: 0.3s;
    cursor: pointer;
}



    .container
    {   
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        min-height: 100vh; 
        max-width: 1280px; 
        margin: 0 auto; 
        padding: 0 20px; 
        color: var(--verde-escuro);
        
     }

    .container h2
    {   margin-left:0;
        margin-bottom: 5%;
        margin-top: 5%;
        font-family: 'inter-Regular';
        align-self: flex-start;
        font-weight: bold;
        font-size: 250%;
    }

     .carrossel
     {  margin-top: 26vh;
        width: 100%;
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
       

     }

      .carrossel img
     {
       align-self: center;
       justify-self: center;
        width: 100%;
        height: 100%;
        max-height: 60vh;
        max-width: 1280px;
        border-radius: 15px;
     }
    .tipos
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 1280px;
        height: 10vh;
        padding: 1%;
    }

    .tipos h3
    {
        text-align: center;
        margin: 0;
        font-family: 'Antonio-regular';
        font-weight: lighter;
    }

    #aveDoParaiso img
    {
        padding-left: 17%;
    }

    .produtos
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    .produto
    {
        background-color: #ffff;
        width: 18vw;
        max-width: 300px;
        border-radius: 10px;
        cursor: pointer;
        max-height: 430px;
        color: black;

      
    }
   
    .produto img
    {
        width: 100%;
        max-height: 220px;
        border-radius: 10px;
        
    }

    .tituloProduto 
    {
       padding: 2%; 
       padding-bottom: 0;
       font-family: 'Antonio-regular';
       
    }
    .tituloProduto h1
    {
        margin-top:0;
        font-weight: lighter;
        font-size: 130%;
        margin-bottom: 0;
    }

    .tituloProduto img
    {   border-radius: 0;
        max-width: 20px;
        max-height: 25px;
        margin-bottom: 0;
        margin-top: 2%;
    }
    .produtoPreco
    {
        font-family: 'Antonio-Regular';
        align-items: end;
        text-align: right;
        padding-right: 5%;
        margin-top: -5%;
    }
    .produtoPreco h1
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    .produtoPreco p
    {   
        margin-top: 0;
        margin-bottom: 0;
        color: red;
    }
    .btnProduto
    {
        
        display: none;
        opacity: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        margin-top: 4%;
        margin-bottom: 3%;
    }
    .btnProduto button
    {
        width:45%;
        height:5vh;
        max-width: 120px;
        max-height:40px;
        border: none;
        font-size:100%;
        font-family:'Antonio-Regular';
        border-radius: 2px;
        color: #fff;
    }
    .btnProduto button:hover
    {
        cursor: pointer;
        background-color: var(--amarelo);
    }
    .btnProduto img
    {
        width:100%;
        height:100%;
        max-width:21px;
        max-height:24px;
        border-radius: 0;
 
    }

   .btnProdutoSacola
   {
    background-color: var(--laranja-Fraco);
    font-size: 150%;
   }
   .btnProdutoComprar
   {
    background-color:var(--azul-verde);
   }

   [data-btnTrasition = "btnBonito"]
   {
       opacity: 0;
   }
   [data-btnTrasition = "btnBonito"].active
   {
       opacity: 1;
       animation: btnAnin;
       animation-duration: 0.3s;
   }
   @keyframes btnAnin
   {
       0%
       {
           opacity: 0;
           transform: translateY(-10px);
       }
       100%
       {
           opacity: 1;
           transform: translateY(0px);
       } 
   }

  section h3
   {
     font-family: 'Antonio-Regular';
     font-weight: lighter;
     align-self: flex-start;
     margin-left: 2%;
   }
   .btnMostrarMais
   {
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
   }

   .btnMostrarMais button
   {
        max-width: 200px;
        max-height: 50px;
        height: 10vh;
        width: 100%;
        color: #fff;
        font-size:150%;
        font-family: "Inter-regular";
        border-radius: 15px;
        border: none;
        font-weight:bold;
        
        background-color: var(--verde-escuro);
   }
   .btnMostrarMais button:hover
   {
    cursor: pointer;
    background-color:var(--amarelo);
   }
   .beneficios
   {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 5%;

   }
   .vantagens
   {
        width: 100%;
        background-color: var(--laranja-Fraco);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
   }
   .vantagensTexto
   {
    display: flex;
    align-items:center;
    justify-content:center;
    font-family: "Inter-Regular";
    color: #fff;
    
   }
   .vantagensTexto h1
   {
    font-weight: lighter;
   }
   .vantagensTexto img {
        color: #003C1F;
        max-width: 25px;
        padding-left:5px;

   }
   .vantagensCTA h1
   {
    font-weight: lighter;
    font-family: "Inter-Regular";
    color: #fff;
   }

   .iconesBeneficios
   {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        gap: 3%;
        font-family: 'Antonio-regular';
   }

   .iconesBeneficios h1
   {
        color: #B0AFAF;
        font-weight:lighter;
        font-size: 100%;
        text-decoration: underline;
   }

   

   .iconesBeneficiosCaminhao
   {
    display: flex;
    align-items: center;
    gap: 2%;
   }
   .iconesBeneficiosCaminhao img
   {
        max-width: 97px;
        max-height: 65px;
        width: 100%;
        height: 100%;
   }
   .iconesBeneficiosFlower
   {
    display: flex;
    align-items: center;
    gap: 2%;
    
   }
   .iconesBeneficiosFlower img
   {
        max-width: 70px;
        max-height: 74px;
        width: 100%;
        height: 100%;
   }

   .descontosImperdiveis
   {    
        margin-right: 3%;
        display: grid;
        grid-template-areas: 
         "amarilis amarilis anturio"   
         "flowers alpinia  anturio";
         gap: 3%;
   }
   .amarilisBanner
    {
        grid-area: amarilis;
    }
    .amarilisBanner img
    {
        max-width: 725px;
        max-height: 358px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .anturioBanner
    {
        grid-area:anturio;
    }
    .anturioBanner img
    {
        max-width:386px;
        max-height:630px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
    .flowersBanner
    {
        grid-area: flowers;
    }
    .flowersBanner img
    {
        max-width: 347px;
        max-height: 258px;
        height: 100%;
        width: 100%;
        
    }
    .alpiniaBanner
    {
        grid-area: alpinia;
    }
    .alpiniaBanner img
    {
        max-width: 350px;
        max-height: 260px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
    #opnioesFlowersTitulo
    {
        margin-top:500px
    }
    .opnioesFlowers
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 5%;

    }
    .comentario
    {
        background-color: var(--verde-escuro);
        color: #fff;
        font-family: 'Inter-regular';
        height: 50vh;
        width: 100%;
        max-width: 337px;
        max-height: 243px;
        display: flex;
        flex-direction: column;
        padding: 2%;
        gap: 10%;
    }
    .comentario div
    {
        height: 33%;
    }
    .comentario p
    {
        margin: 0;
        font-size: 90%;
    }
    .maisFeedbacks
    {
        margin: 50px;
        align-self: flex-start;
        height:10vh;
    }
    .maisFeedbacks button
    {
        border: none;
        height: 100%;
        max-height: 60px;
        border-radius: 10px;
        background-color: var(--amarelo);
        font-size: 120%;
        color: #fff;
        font-family: 'Inter-regular';
        font-weight: bold;

    }

    .maisFeedbacks button:hover
    {
        cursor: pointer;
        background-color: #003C1F;
    }

    footer
    {
        top: 100;
        left: 0;
        background-color: var(--laranja-fosco);
        height: 30vh;
        margin:0;
        padding:1%;
        font-family: 'Inter-regular';
    }

    .footerContainer
    {
        display:flex;
        flex-direction: row;
        width: 100%;
        
        align-items: center;
        justify-content:center;
        gap: 2vw;
    }

    footer ul
    {
        list-style-type: none;
        text-align: left;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
    footer a
    {
       margin: 0;
       padding: 0;
       text-decoration: none;
       
    }
    footer a:hover
    {
        text-decoration: underline;
        cursor: pointer;
    }
    footer h3
    {
        font-family: 'Inter-regular';
        color: #fff;
        font-size: 1rem;
        font-weight:bold;
        margin-left: 0;
    }

    footer h1
    {
        font-family: 'Antonio-regular';
        color: #fff;
    }