:root
{   --cor-fundo:#D9D9D9;
    --laranja-Forte:#FC4A1A;
    --branco:#ffff;
    --laranja-Fraco:#f4781f;
    --amarelo:#F7B733;
    --azul-verde:#4ABDAC;
    --verde-escuro: #003C1F;
    --laranja-fosco: #FA623A;
}
@font-face {
    src: url(../fontes/Antonio-VariableFont_wght.ttf);
    font-family: 'Antonio-Regular';    
    font-weight: normal;
} 
@font-face {
    src: url(../fontes/Inter-VariableFont_slnt\,wght.ttf);
    font-family: 'Inter-regular';
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  
    
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    z-index: 1000;
    
    
}

.navCTA{
    background-color: var(--laranja-Forte);
    height: 5vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navCTA h3

{
    color: #fff;
    font-family: 'Inter-regular';
    font-weight: lighter;
    font-size: 1rem;
}

.menuPesquisa
{   position: fixed;
    background-color: #ffff;
    width: 100%;
    height: 15vh;
    left: 0;
    top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 0.5%;
    gap: 5%;
}


.logo img{
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width:100px;
    position: inherit;

}
.buscar
{
    width: 50%;
    display:flex;
    
}
.buscar input
{
    width: 100%;
    height: 4vh;
    font-family: 'Inter-regular';
    border: none;
    background-color: var(--cor-fundo);
    font-size: 1rem;
    color: var(--verde-escuro);

}

.buscar img
{
    max-width: 21px;
    max-height:23px;
    margin-left: -25px;
    margin-top:6px;
}
.entrarCasatrar
{
    font-size: 1rem;
    font-family: "Inter-regular";
    color: var(--verde-escuro);
    width: 47.5%;
}

.entrarCasatrar a
{   
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.entrarCasatrar a:hover
{
    cursor: pointer;
    text-decoration: underline;
}
.loginSacola
{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2%;
}
.loginSacola img
{
    width:100%;
    height:100%;
    max-width: 32px;
    max-height: 35px;
}

.menuPrincipal 
{   
    position: fixed;
  
    height:6vh;
    width: 100%;
    top: 20vh;
    background-color:#EDEDED;
    color: var(--verde-escuro);
}
.menuPrincipalPag 
{   
    position: fixed;
    height:6vh;
    width: 100%;
    top: 15vh;  
    background-color:var(--laranja-Forte);
    color: #fff;
}
.menuBotoes
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    margin-left: 25vw;
    color: inherit;
    
}
.botoesMenu
{
    border: none;
    font-size: 1.2rem;
    font-family: 'Antonio-regular';
    color: inherit;
    background-color:inherit;
}

.botoesMenu:hover
{
    background-color:var(--laranja-Fraco);
    transition: 0.3s;
    cursor: pointer;
}

.botoesMenuAtual
{

    border: none;
    font-size: 1.2rem;
    font-family: 'Antonio-regular';
    color: inherit;
    background-color: var(--amarelo)

}
.botoesMenuAtual:hover
{
    background-color:var(--laranja-Fraco);
    transition: 0.3s;
    cursor: pointer;

}

    .chatbot
    {
        position: fixed;
        bottom:0;
        right:0;
        z-index: 100;
        width: 380px;
        height:440px;
        overflow: hidden;
        visibility: visible;
        
        
        
       
    }
    .chat
    {   position: absolute;
        width: 85%;
        height:80%;
        border-radius: 10px;
        bottom: 30px;
        right: 50px;
        display: flex;
        flex-direction: column;
        z-index: 101;

    }
    .chatTitle
    {
       display: flex;
       justify-content: space-between;
       align-items: start;
       border-radius: 10px 10px 0 0;
       background-color: #003C1F;
       overflow: hidden;
       max-height: 17.5%;
       background-color: var(--verde-escuro);
       opacity: 100;
       
    }   
    .chatTitle h1
    {   
        margin-left: 50%;
        margin-top: 10px;
        font-family: "Helvetica";
        color: var(--laranja-Fraco)
        
    }
    .chatTitle img
    {  
        object-fit: contain;
        max-width: 70px;
        
    }
    .menssagens
    {
        background-color: #003C1F;
        opacity: 0.95;
        min-height: 70%;
    }
    #closeChatMessage
    {
        
        padding: 10px;
        
        
    }
  
    .chatBtn img
    {   
        position: fixed;
        bottom: 0;
        right: 0;
        object-fit: contain;
        
        
    }
    #chatBtnImgFlora
    {
       bottom: -25px;
       right: -18px;
    }
    #chatClickFloraBaloon
    {
        max-width: 83px;
    }
    .chatbotBtn
    {   
        
        position: absolute;
        bottom: 0;
        right: 0;
        visibility: hidden;
        width: 40%;
    }

  
    .chatbotBtn img
    {   position: absolute;
        cursor: pointer;
        object-fit: contain;
        min-height: 100px;
        bottom: 0;
        right: 0;
    }
    #flora
    {
        z-index: 113;
        right: 10px;
    }
    .container
    {   
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        min-height: 100vh; 
        max-width: 1280px; 
        margin: 0 auto; 
        padding: 0 20px; 
        color: var(--verde-escuro);
        
        
        
     }

    .container h2
    {   margin-left:0;
        margin-bottom: 5%;
        margin-top: 3%;
        font-family: 'inter-Regular';
        align-self: flex-start;
        font-weight: bold;
        font-size: 250%;
    }

     .carrossel
     {  
        margin-top: 26vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        direction: column;
        align-items: center;
        justify-content: center;
        
     
     }
     .imagensCarrossel
     {  
        
        
        width: 100%;
        padding: 0;
        display: flex;
        transform: translateX(0);
        transition: transform 2s ease;

        
        
     }
     .carrosselCheckBox input
     {
        display: none;
     }

      .imagensCarrossel img
     {
        width: 100%;
        object-fit: contain;
        border-radius: 2px;
    
        
        
        
     }
     .manual-navigation
     {
        display: flex;
        justify-content: center;
        margin-top: -30px;
        z-index: 3;
     }
     .manual-btn
     {
        border: 2px solid #ffff;
        padding: 5px;
        border-radius:10px;
        cursor: pointer;
        
    }
    .manual-btn:not(:last-child)
    {
        margin-right: 25px;
    }
    .manual-btn:hover
    {
        background-color: #fff;
        transition: 0.5s;
    }
    
    


    .tipos
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 1280px;
        height: 10vh;
        padding: 1%;
    }
    .tipos img
    {
        object-fit: contain;
    }
    .tipos h3
    {
        text-align: center;
        margin: 0;
        font-family: 'Antonio-regular';
        font-weight: lighter;
    }

    #aveDoParaiso img
    {
        padding-left: 17%;
    }

    .produtos
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    .produto
    {
        background-color: #ffff;
        width: 18vw;
        max-width: 300px;
        border-radius: 10px;
        cursor: pointer;
        height: 60vh;
        max-height: 430px;
        color: black;

      
    }
   
    .produto img
    {
        width: 100%;
        max-height: 50%;
        border-radius: 10px;
        height: 50%;
        
    }

    .tituloProduto 
    {
       padding: 2%; 
       padding-bottom: 0;
       font-family: 'Antonio-regular';
       height: 20%;
       
    }
    .tituloProduto h1
    {
        margin-top:0;
        font-weight: lighter;
        font-size: 130%;
        margin-bottom: 0;
    }

    .tituloProduto img
    {   border-radius: 0;
        max-width: 20px;
        max-height: 25px;
        margin-bottom: 0;
        margin-top: 2%;
    }
    .produtoPreco
    {
        font-family: 'Antonio-Regular';
        align-items: end;
        text-align: right;
        padding-right: 5%;
        margin-top: -5%;
        height: 15%;
    }
    .produtoPreco h1
    {
        margin-top: 0;
        margin-bottom: 0;
        
    }

    .produtoPreco p
    {   
        margin-top: 0;
        margin-bottom: 0;
        color: red;
    }
    .btnProduto
    {
        
        display: none;
        opacity: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        margin-top: 4%;
        margin-bottom: 3%;
        height:15%;
    }
    .btnProduto button
    {
        width:45%;
        height:5vh;
        max-width: 120px;
        max-height:40px;
        border: none;
        font-size:100%;
        font-family:'Antonio-Regular';
        border-radius: 2px;
        color: #fff;
    }
    .btnProduto button:hover
    {
        cursor: pointer;
        background-color: var(--amarelo);
    }
    .btnProduto img
    {
        width:100%;
        height:100%;
        max-width:21px;
        max-height:24px;
        border-radius: 0;
 
    }

   .btnProdutoSacola
   {
    background-color: var(--laranja-Fraco);
    font-size: 150%;
   }
   .btnProdutoComprar
   {
    background-color:var(--azul-verde);
   }

   [data-btnTrasition = "btnBonito"]
   {
       opacity: 0;
   }
   [data-btnTrasition = "btnBonito"].active
   {
       opacity: 1;
       animation: btnAnin;
       animation-duration: 0.3s;
   }
   @keyframes btnAnin
   {
       0%
       {
           opacity: 0;
           transform: translateY(-10px);
       }
       100%
       {
           opacity: 1;
           transform: translateY(0px);
       } 
   }

  section h3
   {
     font-family: 'Antonio-Regular';
     font-weight: lighter;
     align-self: flex-start;
     margin-left: 2%;
   }
   .btnMostrarMais
   {
    margin-top: 5%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content:center;
   }
   
   .btnContainer
   {
        max-height: 50px;
        height: 6vh;
        width: 100%;
        color: #fff;
        font-size:1.2rem;
        font-family: "Inter-regular";
        border-radius: 15px;
        border: none;
        font-weight:bold;
        
        background-color: var(--verde-escuro);
   }
   .btnContainer:hover
   {
    cursor: pointer;
    background-color:var(--amarelo);
   }
   .beneficios
   {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 5%;

   }
   .vantagens
   {
        width: 100%;
        background-color: var(--laranja-Fraco);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
   }
   .vantagensTexto
   {
    display: flex;
    align-items:center;
    justify-content:center;
    font-family: "Inter-Regular";
    color: #fff;
    
   }
   .vantagensTexto h1
   {
    font-weight: lighter;
   }
   .vantagensTexto img {
        color: #003C1F;
        max-width: 25px;
        padding-left:5px;

   }
   .vantagensCTA h1
   {
    font-weight: lighter;
    font-family: "Inter-Regular";
    color: #fff;
   }

   .iconesBeneficios
   {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        gap: 3%;
        font-family: 'Antonio-regular';
   }

   .iconesBeneficios h1
   {
        color: #B0AFAF;
        font-weight:lighter;
        font-size: 100%;
        text-decoration: underline;
   }

   

   .iconesBeneficiosCaminhao
   {
    display: flex;
    align-items: center;
    gap: 2%;
   }
   .iconesBeneficiosCaminhao img
   {
        max-width: 97px;
        max-height: 65px;
        width: 100%;
        height: 100%;
   }
   .iconesBeneficiosFlower
   {
    display: flex;
    align-items: center;
    gap: 2%;
    
   }
   .iconesBeneficiosFlower img
   {
        max-width: 70px;
        max-height: 74px;
        width: 100%;
        height: 100%;
   }

   .descontosImperdiveis
   {    
        margin-right: 3%;
        display: grid;
        grid-template-areas: 
         "amarilis amarilis anturio"   
         "flowers alpinia  anturio";
         gap: 3%;
   }
   .amarilisBanner
    {
        grid-area: amarilis;
    }
    .amarilisBanner img
    {
        max-width: 725px;
        max-height: 358px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .anturioBanner
    {
        grid-area:anturio;
    }
    .anturioBanner img
    {
        max-width:386px;
        max-height:630px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
    .flowersBanner
    {
        grid-area: flowers;
    }
    .flowersBanner img
    {
        max-width: 347px;
        max-height: 258px;
        height: 100%;
        width: 100%;
        
    }
    .alpiniaBanner
    {
        grid-area: alpinia;
    }
    .alpiniaBanner img
    {
        max-width: 350px;
        max-height: 260px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
    #opnioesFlowersTitulo
    {
        margin-top:10%;
    }
    .opnioesFlowers
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 5%;

    }
    .comentario
    {
        background-color: var(--verde-escuro);
        color: #fff;
        font-family: 'Inter-regular';
        height: 50vh;
        width: 100%;
        max-width: 337px;
        max-height: 243px;
        display: flex;
        flex-direction: column;
        padding: 2%;
        gap: 10%;
    }
    .comentario div
    {
        height: 33%;
        
    }
    .comentario p
    {
        margin: 0;
        font-size: 90%;
    }
    .maisFeedbacks
    {
        margin: 50px;
        align-self: flex-start;
        height:10vh;
    }
    

    .porqueComprar
    {   
        margin-top: 130px;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1%;
        
        
    }
    .porqueComprar h1
    {
        font-family: 'Inter-regular';
        font-size: 3rem;
        font-weight: lighter;
    }
    .porqueComprar img
    {
        width:100%;
        height:100%;
        max-width: 637px;
        max-height: 374px;
        
    }
    .porqueComprar p {

        font-size:1.2rem;
        font-family: 'Inter-regular';
        
    }
    .porqueComprar button
    {
        max-width: 200px;
        left: 25%;
        position: relative;
        
    }
    .textoComentario
    {
        overflow: auto;
        
    }
    .textoComentario ::-webkit-scrollbar
    {
        background-color: transparent;
    }
    .textoComentario ::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }
    .textoComentario ::-webkit-scrollbar-track {
        background-color: transparent; 
      }

    footer
    {   
        position: relative;
        top: 100;
        left: 0;
        background-color: var(--laranja-fosco);
        height: 50vh;
        margin:0;
        padding:1%;
        font-family: 'Inter-regular';
        z-index: 1000;
        width: 100%;
    }

    .footerContainer
    {
        display:flex;
        flex-direction: row;
        width: 100%;
        
        align-items: center;
        justify-content:center;
        gap: 2vw;
    }

    footer ul
    {
        list-style-type: none;
        text-align: left;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
    footer a
    {
       margin: 0;
       padding: 0;
       text-decoration: none;
       
    }
    footer a:hover
    {
        text-decoration: underline;
        cursor: pointer;
    }
    footer h3
    {
        font-family: 'Inter-regular';
        color: #fff;
        font-size: 1rem;
        font-weight:bold;
        margin-left: 0;
    }

    footer h1
    {
        font-family: 'Antonio-regular';
        color: #fff;
    }