.gridProdutos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: auto;
    gap: 20px;
}
.produtos
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

.produto
{
    background-color: var(--branco);
    width: 18vw;
    max-width: 300px;
    border-radius: 10px;
    cursor: pointer;
    height: 60vh;
    max-height: 430px;
    color: black;

  
}

.produto img
{
    width: 100%;
    max-height: 50%;
    border-radius: 10px;
    height: 50%;
    
}

.tituloProduto 
{
   padding: 2%; 
   padding-bottom: 0;
   font-family: 'Antonio-regular';
   height: 20%;
   
}
.tituloProduto h1
{
    margin-top:0;
    font-weight: lighter;
    font-size: 130%;
    margin-bottom: 0;
}

.tituloProduto img
{   border-radius: 0;
    max-width: 20px;
    max-height: 25px;
    margin-bottom: 0;
    margin-top: 2%;
}
.produtoPreco
{
    font-family: 'Antonio-Regular';
    align-items: end;
    text-align: right;
    padding-right: 5%;
    margin-top: -5%;
    height: 15%;
}
.produtoPreco h1
{
    margin-top: 0;
    margin-bottom: 0;
    
}

.produtoPreco p
{   
    margin-top: 0;
    margin-bottom: 0;
    color: red;
}
.btnProduto
{
    
    display: none;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-top: 4%;
    margin-bottom: 3%;
    height:15%;
}
.btnProduto button
{
    width:45%;
    height:5vh;
    max-width: 120px;
    max-height:40px;
    border: none;
    font-size:100%;
    font-family:'Antonio-Regular';
    border-radius: 2px;
    color: var(--branco);
}
.btnProduto button:hover
{
    cursor: pointer;
    background-color: var(--amarelo);
}
.btnProduto img
{
    width:100%;
    height:100%;
    max-width:21px;
    max-height:24px;
    border-radius: 0;

}

.btnProdutoSacola
{
background-color: var(--laranja-Fraco);
font-size: 150%;
}
.btnProdutoComprar
{
background-color:var(--azul-verde);
}

[data-btnTrasition = "btnBonito"]
{
   opacity: 0;
}
[data-btnTrasition = "btnBonito"].active
{
   opacity: 1;
   animation: btnAnin;
   animation-duration: 0.3s;
}
@keyframes btnAnin
{
   0%
   {
       opacity: 0;
       transform: translateY(-10px);
   }
   100%
   {
       opacity: 1;
       transform: translateY(0px);
   } 
}

@media(max-width:600px)
{   
    .produtos
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vw;
    }

    .produto
    {
        background-color: var(--branco);
        width: 100vw;
        max-width: 500px;
        max-height:180px;
        border-radius: 10px;
        cursor: pointer;
        height:180px;
        color: black;
        display: grid;
        grid-template-areas: 
         'img img titulo titulo'
         'img img preco preco'
         'img img  btn btn';
        gap: 1px;
    
      
    }
    
    .produto img
    {
        width: 170px;
        max-height: 180px;
        border-radius: 10px;
        height: 50%;
        object-fit: contain;
        aspect-ratio: 1/1;
        height: 100%;
        grid-area: img;
        
    }
    
    .tituloProduto 
    {
       padding: 2%; 
       padding-bottom: 0;
       font-family: 'Antonio-regular';
       width: 100%;
       height: 35px;
       grid-area: titulo;
       max-width: 120px;
       
    }
    .tituloProduto h1
    {
        margin-top:0;
        font-weight: lighter;
        font-size: 1rem;
        margin-bottom: 0;
    }
    
    .tituloProduto img
    {   border-radius: 0;
        max-width: 20px;
        max-height: 25px;
        margin-bottom: 0;
        margin-top: 2%;
    }
    .produtoPreco
    {
        font-family: 'Antonio-Regular';
        align-items: end;
        text-align: right;
        
        height: 20px;
        grid-area: preco;
    }
    .produtoPreco h1
    {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1rem;
        
    }
    
    .produtoPreco p
    {   
        margin-top: 0;
        margin-bottom: 0;
        color: red;
        font-size: 0.8rem;
    }
    .btnProduto
    {
        
        display: flex;
        opacity: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        margin-top: 4%;
        margin-bottom: 3%;
        height:15%;
        grid-area: btn;
    }
    .btnProduto button
    {
        width:45%;
        height:5vh;
        max-width: 120px;
        max-height:40px;
        border: none;
        font-size:100%;
        font-family:'Antonio-Regular';
        border-radius: 2px;
        color: var(--branco);
    }
    .btnProduto button:hover
    {
        cursor: pointer;
        background-color: var(--amarelo);
    }
    .btnProduto img
    {
        width:100%;
        height:100%;
        max-width:21px;
        max-height:24px;
        border-radius: 0;
    
    }
    
    .btnProdutoSacola
    {
    background-color: var(--laranja-Fraco);
    font-size: 150%;
    }
    .btnProdutoComprar
    {
    background-color:var(--azul-verde);
    }
    .gridProdutos{
        display: flex;
        flex-direction:column;
        max-width: 600px;
        gap: 20px;
    }
    
}