.maisProcuradasSideBar
{
    font-family: Helvetica;
    position: absolute;
    left: 5vw;
    top: 25vh;
    width: 25%;
    color: var(--verde-escuro);
    
} 
.maisProcuradasSideBar img
{
    object-fit: contain;
    max-width:100%
}

.arranjosSideBar
{
    font-family: Helvetica;
    position: absolute;
    right:0;
    top: 30vh;
    width: 25%;
    color: var(--verde-escuro);
}
.arranjosSideBar img
{
    object-fit: contain;
    max-width:100%
}
aside input
{
    border: none;
    
}

.pesquisarCorLabel
{
    background-color:var(--branco);
    height:20px;
    padding: 2px;
    margin-top: 10px;
    
    
}

.pesquisarCorLabel img
{
    object-fit: contain; 
    width: 15px; 
    opacity: 0.5;
    height: 15px;
   
}
#pesquisarCor
{
    height: 20px;
    margin-left: -5px;
}
#pesquisarCor:focus
{
    border: none;
}

.mobileFilter
{
   display: none;
}
.tituloFiltro
{
    position: relative;
    display: flex; 
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}




@media (max-width: 600px) {
    
    .maisProcuradasSideBar
    {   
        display: none;
        font-family: Helvetica;
        position: absolute;
        left: 0px;
        top: 25vh;
        width: 50vw;
        background-color: inherit;
        color: var(--verde-escuro);
        
    } 
    .maisProcuradasSideBar img
    {
        object-fit: contain;
        max-width:100%
    }

    .arranjosSideBar
    {
        display: none;
        font-family: Helvetica;
        position: absolute;
        left: 0px;
        top: 25vh;
        width: 50vw;
        background-color: inherit;
        color: var(--verde-escuro);
    }
    .arranjosSideBar img
    {
        object-fit: contain;
        max-width:100%
    }

    .mobileFilter
    {   

       display: inherit;
       object-fit: contain;
       width:28px;
       margin: 0;
       
    }
    .tituloFiltro
    {
        position: relative;
        display: flex; 
        justify-content: space-around;
        width: 100%;
        margin-bottom: 15px;
       
    }



}